<div class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__social-icons">
        <li>
          <img src="../../../assets/navbar/logo.svg" alt="" />
        </li>
        <li>
          <img src="../../../assets/icons/social-icons/facebook.svg" alt="" />
          Facebook
        </li>
        <li>
          <img src="../../../assets/icons/social-icons/telegram.svg" alt="" />
          Youtube
        </li>
        <li>
          <img src="../../../assets/icons/social-icons/twitter.svg" alt="" />
          Telegram
        </li>
        <li>
          <img src="../../../assets/icons/social-icons/youtube.svg" alt="" />
          Twitter
        </li>
      </div>
      <div>
        <h3>Getting started</h3>
        <li>Release Notes</li>
        <li>Upgrade Guide</li>
        <li>Browser Support</li>
        <li>Dark Mode</li>
      </div>
      <div>
        <h3>Explore</h3>
        <li>Prototyping</li>
        <li>Design systems</li>
        <li>Pricing</li>
        <li>Security</li>
      </div>
      <div>
        <h3>Community</h3>
        <li>Discussion Forums</li>
        <li>Code of Conduct</li>
        <li>Contributing</li>
        <li>API Reference</li>
      </div>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="bottom__footer">
      <div>
        <span>Nexton eCommerce. © 2024</span>
      </div>
      <div class="footer__payment">
        <img src="../../../assets/icons/payment-icons/visa.svg" alt="" />
        <img src="../../../assets/icons/payment-icons/paypal.svg" alt="" />
        <img src="../../../assets/icons/payment-icons/verisign.svg" alt="" />
        <img src="../../../assets/icons/payment-icons/stripe.svg" alt="" />
      </div>
    </div>
  </div>
</div>
