<div class="section">
  <div class="container">
    <div class="checkout__header">
      <h2>Checkout</h2>
    </div>
    <div class="content__wrapper">
      <form
        class="checkout__form"
        (ngSubmit)="onFormSubmitted()"
        #checkoutForm="ngForm"
      >
        <!-- Contact info -->
        <div class="contact__wrapper">
          <h3>Contact info</h3>
          <div class="line"></div>
          <div class="contact__info">
            <div class="phone">
              <label for="number">Your phone number</label>
              <input
                type="number"
                name="number"
                ngModel
                required
                #customerPhone="ngModel"
              />
              <small *ngIf="customerPhone.invalid && customerPhone.touched"
                >*Number is required</small
              >
            </div>
            <div class="email">
              <label for="email">Email address</label>
              <input
                type="email"
                name="email"
                ngModel
                required
                #email="ngModel"
              />
              <small *ngIf="email.invalid && email.touched"
                >*Email is required</small
              >
            </div>
          </div>
        </div>

        <!-- Shipping address -->
        <div class="shipping__info-wrapper">
          <h3>Shipping address</h3>
          <div class="line"></div>
          <div class="shipping__info">
            <div class="personal__info-wrapper">
              <div class="first__name">
                <label for="firstName">First name</label>
                <input
                  type="text"
                  name="firstName"
                  ngModel
                  required
                  #firstName="ngModel"
                />
                <small *ngIf="firstName.invalid && firstName.touched"
                  >*First Name is required</small
                >
              </div>

              <div class="last__name">
                <label for="lastName">Last name</label>
                <input
                  type="text"
                  name="lastName"
                  ngModel
                  required
                  #lastName="ngModel"
                />
                <small *ngIf="lastName.invalid && lastName.touched"
                  >*Last Name is required</small
                >
              </div>
            </div>

            <div class="address">
              <div class="address__info">
                <div class="address__wrapper">
                  <label for="adress">Address line 1</label>
                  <input
                    type="text"
                    name="adress"
                    ngModel
                    required
                    #address="ngModel"
                  />
                  <small *ngIf="address.invalid && address.touched"
                    >*Address is required</small
                  >
                </div>

                <div class="schipping__wrapper"></div>
                <div class="address__wrapper">
                  <label for="apartman">Apt, suite</label>
                  <input type="text" name="apartman" ngModel />
                </div>
              </div>
            </div>

            <div class="location">
              <div class="location__wrapper">
                <div class="city">
                  <label for="city">City</label>
                  <input
                    type="text"
                    name="city"
                    ngModel
                    required
                    #city="ngModel"
                  />
                  <small *ngIf="city.invalid && city.touched"
                    >*City is required</small
                  >
                </div>
                <div class="country">
                  <label for="country">Country</label>
                  <input type="text" name="country" ngModel required />
                </div>
              </div>
            </div>
            <div class="location">
              <div class="location__wrapper">
                <div class="state">
                  <label for="state">State/Province</label>
                  <input type="text" name="state" ngModel required />
                </div>
                <div class="postal-code">
                  <label for="code">Postal code</label>
                  <input
                    type="text"
                    name="code"
                    ngModel
                    required
                    #postalCode="ngModel"
                  />
                  <small *ngIf="postalCode.invalid && postalCode.touched"
                    >*Postal code is required</small
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Payment -->
        <div class="payment__wrapper">
          <h3>Payment</h3>
          <div class="line"></div>
          <div class="payment">
            <div class="card">
              <div class="card__number">
                <label for="cardNumber">Card number</label>
                <input
                  type="number"
                  name="cardNumber"
                  ngModel
                  required
                  #cardNumber="ngModel"
                />
                <small *ngIf="cardNumber.invalid && cardNumber.touched"
                  >*Card number is required</small
                >
              </div>
              <div class="card__name">
                <label for="cardName">Name on the card</label>
                <input
                  type="text"
                  name="cardName"
                  ngModel
                  required
                  #cardName="ngModel"
                />
                <small *ngIf="cardName.invalid && cardName.touched"
                  >*Name on the card is required</small
                >
              </div>
            </div>
            <div class="card__detail">
              <div class="exp">
                <label for="expDate">Expiration date (MM/YY)</label>
                <input
                  type="text"
                  name="expDate"
                  ngModel
                  required
                  #expDate="ngModel"
                />
                <small *ngIf="expDate.invalid && expDate.touched"
                  >*Expiration date is required</small
                >
              </div>
              <div class="cvc">
                <label for="cvcNumber">CVC</label>
                <input
                  type="number"
                  name="cvcNumber"
                  ngModel
                  required
                  #cvcNumber="ngModel"
                />
                <small *ngIf="cvcNumber.invalid && cvcNumber.touched"
                  >*CVC is required</small
                >
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="order__summary">
        <h3>Order Summary</h3>

        <div class="order__items-wrapper">
          <div class="line"></div>
          <div class="order__item">
            <div>
              <img [src]="product?.images" alt="Product Image" />
            </div>
            <div>
              <h3>{{ product?.title }}</h3>
              <span>one size</span>
            </div>
            <div>{{ product?.price | currency }}</div>
          </div>
          <hr />
          <div class="total__price">
            <h3>subotal</h3>
            <div>$169.99</div>
          </div>
          <div class="shipping__estimate">
            <h3>Shipping estimate</h3>
            <div>$5.00</div>
          </div>
          <div class="tax">
            <h3>Tax estimate</h3>
            <div>$169.99</div>
          </div>
          <form (ngSubmit)="onFormSubmitted()">
            <button
              class="cta"
              type="submit"
              value="submit"
              [disabled]="!checkoutForm.valid"
              [ngClass]="{ disabled: !checkoutForm.valid }"
            >
              Confirm order
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
