<div class="container">
  <div class="about__us-wrapper">
    <div class="about__us-heading">
      <h2>About us</h2>
      <p>
        We not only help you design exceptional products, but also make it easy
        for you to share your designs with more like-minded people.
      </p>
    </div>

    <div class="image__content">
      <img src="../../../assets/about/image.png" alt="" />
      <div class="image__content-text">
        <h3>Provide fashionable and qualifed products</h3>
        <p>
          Already millions of people are very satisfied by thi. s page builder
          and the number is growing more and more. Technolog developing,
          requirements are increasing. Riode has brought.
        </p>
      </div>
    </div>

    <div class="image__content">
      <div class="image__content-text">
        <h3>Provide fashionable and qualifed products</h3>
        <p>
          Already millions of people are very satisfied by thi. s page builder
          and the number is growing more and more. Technolog developing,
          requirements are increasing. Riode has brought.
        </p>
      </div>
      <img src="../../../assets/about/image-1.png" alt="" />
    </div>
  </div>

  <app-contact></app-contact>
</div>
